$dark-purple: 		#5726c0;
$light-purple: 		#9a36b5;
$gray:          	#eaeaea;
$dark-gray:			#bababa;
$red:				#ff0e0e;
$green:				#42bc42;
$header-shadow: 	0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
$card-shadow:		0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);